/* section {
    background-color: #ff1b68;
} */
body {
    font-family: 'Montserrat', sans-serif;
}

#vista-producto {
    background-color: violet;
    color: red;
    padding: 20px;
    border: 5px black solid;
    margin:  20px;
}



h1  {
    color: white;
    font-family: 'Anton', sans-serif;
}   

.section-titulo{
    color: #2ddf5c;
}